ColumnLimit: 120
Language: Cpp

# Penalty tweaks
PenaltyBreakBeforeFirstCallParameter: 20
PenaltyExcessCharacter: 10
PenaltyReturnTypeOnItsOwnLine: 1000

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Right
AlignConsecutiveShortCaseStatements:
  AcrossComments: true
  AcrossEmptyLines: false
  AlignCaseColons: false
  Enabled: true
AlignOperands: AlignAfterOperator
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: NextLineOnly
PointerAlignment: Left
QualifierAlignment: Custom

Cpp11BracedListStyle: false
FixNamespaceComments: false
IntegerLiteralSeparator:
  Decimal: 3
  DecimalMinDigits: 5
QualifierOrder: ['friend', 'static', 'inline', 'constexpr', 'const', 'type']
ReflowComments: true
RequiresClausePosition: OwnLine
RequiresExpressionIndentation: OuterScope

# Indentation
AccessModifierOffset: -4
ContinuationIndentWidth: 4
IndentAccessModifiers: false
IndentCaseBlocks: false
IndentCaseLabels: true
IndentRequiresClause: true
IndentWidth: 4
LambdaBodyIndentation: Signature
NamespaceIndentation: All
TabWidth: 4
UseTab: Never

# New lines and breaks
AlignEscapedNewlines: DontAlign
AllowBreakBeforeNoexceptSpecifier: Never
AlwaysBreakTemplateDeclarations: true
BreakAfterAttributes: Always
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
BreakBeforeConceptDeclarations: Always
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
EmptyLineAfterAccessModifier: Leave
EmptyLineBeforeAccessModifier: Leave
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Leave

# Spacing
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceAroundPointerQualifiers: Default
SpaceBeforeAssignmentOperators: true
SpaceBeforeCaseColon: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterForeachMacros: false
  AfterFunctionDeclarationName: false
  AfterFunctionDefinitionName: false
  AfterIfMacros: false
  AfterOverloadedOperator: false
  AfterPlacementOperator: false
  AfterRequiresInClause: true
  AfterRequiresInExpression: false
  BeforeNonEmptyParentheses: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never

# Structural characters handling
InsertBraces: true
RemoveParentheses: ReturnStatement
RemoveSemicolon: true

# Put class header includes first
SortIncludes: CaseSensitive

IncludeBlocks: Regroup
IncludeCategories:
  # Group by common prefix path
  - { Regex: '"(\.\./)*core/.*"', Priority: 1 }
  - { Regex: '"(\.\./)*log/.*"', Priority: 2 }
  - { Regex: '"(\.\./)*math/.*"', Priority: 3 }
  - { Regex: '"(\.\./)*pal/.*"', Priority: 4 }
  - { Regex: '"(\.\./)*rg/.*"', Priority: 5 }
  - { Regex: '"(\.\./)*rhi/.*"', Priority: 6 }
  - { Regex: '"(\.\./)*util/.*"', Priority: 7 }
  - { Regex: '"(\.\./)*.*"', Priority: 8 }
  
  # System includes
    # Third party libraries
  - { Regex: '<.*(/.*|\.h|\.hpp)>', Priority: 10 }

    # Standard library
  - { Regex: '<.*>', Priority: 11 }
